// Variables

// Keep in sync with theme.less --color-accent (light).
@brand-primary: #00809b;
@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@gray-l: lighten(black, 75%);
@white-faded: fade(white, 80%);
@gray-light: #eee;
