{% assign comments_provider = site.comments.provider | default: "" %}
{% if comments_provider == "utterances" and site.comments.utterances.repo %}
{% assign comment_issue_number = site.data.comment_issues[page.url] %}
<div class="comment">
    <script src="https://utteranc.es/client.js"
            repo="{{ site.comments.utterances.repo }}"
{% if comment_issue_number %}
            issue-number="{{ comment_issue_number }}"
{% else %}
            issue-term="{{ site.comments.utterances.issue_term | default: 'pathname' }}"
{% endif %}
{% if site.comments.utterances.label %}
            label="{{ site.comments.utterances.label }}"
{% endif %}
            theme="{{ site.comments.utterances.theme | default: 'github-light' }}"
            crossorigin="anonymous"
            async>
    </script>
</div>
{% endif %}
