<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% include sns-links.html center=true %}
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Across the Great Wall, we can reach every corner in the world.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Theme JavaScript (vanilla; no jQuery/Bootstrap JS) -->
<script src="{{ "/js/hux-blog.min.js" | relative_url }}?v={{ site.asset_version }}"></script>

<!-- Retire legacy Service Worker registrations from the old PWA era -->
<script type="text/javascript">
    (function () {
        if (!navigator.serviceWorker) {
            return;
        }
        navigator.serviceWorker.getRegistrations().then(function (registrations) {
            registrations.forEach(function (registration) {
                registration.unregister();
            });
        });
        if (window.caches) {
            caches.keys().then(function (names) {
                names.forEach(function (name) {
                    caches.delete(name);
                });
            });
        }
    })();
</script>

<!-- Baidu Tongji -->
{% if site.ba_track_id %}
<script>
    var _baId = '{{ site.ba_track_id }}';
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}
