{% comment %}
  Shared SNS link list for footer and sidebar.
{% endcomment %}
<ul class="list-inline{% if include.center %} text-center{% endif %}">
    {% if site.RSS %}
    <li>
        <a href="{{ "/feed.xml" | relative_url }}" aria-label="RSS feed">
            {% include sns-icon.html name="rss" %}
        </a>
    </li>
    {% endif %}
    {% if site.jianshu_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.jianshu.com/u/{{ site.jianshu_username }}" aria-label="Jianshu">
            {% include sns-icon.html name="jianshu" %}
        </a>
    </li>
    {% endif %}
    {% if site.twitter_username %}
    <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">
            {% include sns-icon.html name="twitter" %}
        </a>
    </li>
    {% endif %}
    {% if site.zhihu_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.zhihu.com/people/{{ site.zhihu_username }}" aria-label="Zhihu">
            {% include sns-icon.html name="zhihu" %}
        </a>
    </li>
    {% endif %}
    {% if site.weibo_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://weibo.com/{{ site.weibo_username }}" aria-label="Weibo">
            {% include sns-icon.html name="weibo" %}
        </a>
    </li>
    {% endif %}
    {% if site.facebook_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/{{ site.facebook_username }}" aria-label="Facebook">
            {% include sns-icon.html name="facebook" %}
        </a>
    </li>
    {% endif %}
    {% if site.github_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
            {% include sns-icon.html name="github" %}
        </a>
    </li>
    {% endif %}
    {% if site.linkedin_username %}
    <li>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="LinkedIn">
            {% include sns-icon.html name="linkedin" %}
        </a>
    </li>
    {% endif %}
</ul>
